// Définition des couleurs du thème perso : 
$my-deep-blue:#091F43;
$my-coral:#D1515A;
$my-grey:#AFAFAF;
$my-logo-color-dark:#FD2D01;
$my-logo-color-light:#FFD7D7;

$my-light-blue:lighten($my-deep-blue,20%);

$my-light-grey:lighten($my-grey,20%);
$my-dark-grey:darken($my-grey,23%);
$my-darker-grey:darken($my-grey,40%);

$my-logo-color-medium:lighten($my-logo-color-dark,10%);
$my-logo-color-darker:darken($my-logo-color-dark,4.7%);

$my-dark-red:#BF2130;


// Surcharge des variables bootstrap
$primary: $my-deep-blue;
$secondary: $my-light-grey;
$tertiary: $my-logo-color-medium;

$danger: $my-dark-red;

